@font-face{
    font-family: "bebasneue-regular";
    src:url(../assets/fuentes/BebasNeue-Regular.ttf)
}

@font-face {
    font-family: "stencil";
    src: url(../assets/fuentes/SairaStencilOne-Regular.ttf);
}

@font-face {
    font-family: "graffiti" ;
    src: url(../assets/fuentes/TheBattleCont.ttf);
}